<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A site dedicated to getting you eating healthier today">
    <meta name="author" content="Jesse Hitch">
    <meta name="theme-color" content="#1f1f1f" />
    <link rel="icon" type="image/x-icon" href="icons/favicon.ico">

    <title>Maybe You Live</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="css/main.css" rel="stylesheet">
      
    <style type="text/css">
      body {
        padding-top: 90px;
        padding-left: 20px;
        padding-right: 20px;
      }
    </style>

    <meta property="og:url" content="http://maybeyou.live">
    <meta property="og:title" content="Maybe You Live Longer">
    <meta property="og:description" content="A site dedicated to getting you eating healthier today!">
    <meta property="og:type" content="profile">

  </head>

  <body>
    <nav class="navbar fixed-top bg-faded" role="navigation">
        <a href="/">
          <img src="../images/MYLL-logotest-1.png" style="height: 50px;">
        </a>
        </nav>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="/images/maybeyoulive_chowmein.png" alt="Recipe Image" style="width: 20rem;">
        <div class="card-block">
            <h4 class="card-title">Chickpea Salad</h4>
            <p class="card-text">Cal: 345 Protein: 42 Sugar: 43 Carbs: 23 Lipids: 29</p>
            <a href="#" class="btn btn-primary">View Recipe</a>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
     <script>
         $(function () {
           $('[data-toggle="tooltip"]').tooltip()
           });
     </script>
  </body>
</html>
