<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="./shared-styles.html">

<dom-module id="my-search">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 110px;
      }
      .about {
        @apply(--layout-vertical);
        @apply(--layout-wrap);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .lines {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
      }

      .column-pretty-top {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        padding-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .column-pretty {
        @apply(--layout-vertical);
        @apply(--layout-flex);
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      small {
        color: #90a4ae;
      }

      paper-button {
        margin-bottom: 20px;
        text-transform: lowercase;
      }

      /*paper-card {
        --paper-card-header-color: white;
      }*/

    </style>

    <paper-card class="about">
        <h3>Recipe Search.</h3>
        <div class="card-actions lines">
          <div class="column-pretty-top">
            <h4><small>Allergies/Aversions</small></h4><p />
          </div>
          <div class="column-pretty-top">
            <small><paper-button toggles raised>avocado</paper-button></small>
            <small><paper-button toggles raised>coconut</paper-button></small>
            <small><paper-button toggles raised>corn</paper-button></small>
            <small><paper-button toggles raised active>dairy</paper-button></small>
            <small><paper-button toggles raised active>eggs</paper-button></small>
            <small><paper-button toggles raised active>meat</paper-button></small>
            <small><paper-button toggles raised active>mushrooms</paper-button></small>
            <small><paper-button toggles raised>nuts</paper-button></small>
            <small><paper-button toggles raised>soy</paper-button></small>
            <small><paper-button toggles raised>strawberries</paper-button></small>
          </div>
        </div>
    </paper-card>

    <br />
    <div class="lines">
          <paper-card image="/static/images/maybeyoulive_chowmein.png" class="column-pretty">
            <div class="card-content">
            Chow Mein Thingie
            </div>
              <div class="card-actions">
                  <small>Fats: 1g Protein: 9001g Carbs: 10g</small><p />
              </div>
          </paper-card>
          <paper-card class="column-pretty">
            <p>Butternut Squash Soup</p>
              <div class="card-actions">
                  <small>Fats: 3lg Protein: 7g Carbs: 140g</small><p />
              </div>
          </paper-card>
          <paper-card class="column-pretty">
            <p>Coconut milk matcha latte</p>
              <div class="card-actions">
                  <small>Fats: 2g Protein: 5001g Carbs: 150g</small><p />
              </div>
          </paper-card>
          </paper-card>
          <paper-card class="column-pretty">
            <p>Curried Mushroom Onion Hummus</p>
              <div class="card-actions">
                  <small>Fats: 2g Protein: 51g Carbs: 150g</small><p />
              </div>
          </paper-card>
    </div>
  </template>

  <script>
    Polymer({
      is: 'my-search',
    });
  </script>

</dom-module>
