<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">

<dom-module id="recipes">
  <template is="dom-bind">
    hi mom and dad

    <iron-ajax auto
        id="ajax"
        url="getallrecipes"
        handle-as="json"
        last-response="{{data}}"></iron-ajax>

    <iron-data-table items="[[data]]">
      <data-table-column width="100px" name="Recipes">
        <template>[[item.recipes]]</template>
      </data-table-column>
    </iron-data-table>

  </template>

  <script>
    (function() {
      Polymer({
        is: 'recipes',
        ready: function() {
          this.origin = window.location.protocol + '//' + window.location.hostname;
          if (window.location.port) {
            this.origin += ":" + window.location.port;
          }
        }
      });
    })();
  </script>
</dom-module>
