<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="./shared-styles.html">

<dom-module id="my-submit">
  <template>
    <style include="shared-styles">
      :host {
        @apply(--layout-horizontal);
        @apply(--layout-flex);
        display: block;
        padding-top: 80px;
        padding-bottom: 110px;
        margin-left: 60px;
        margin-right: 60px;
      }

      small {
        color: #90a4ae;
      }

      paper-card {
            @apply(--layout-horizontal);
            --paper-card-background-color: #3d415a;
            --paper-card-header-color: #a4aaca;
            padding-top: 10px;
      }

      paper-button {
        margin-bottom: 20px;
        text-transform: lowercase;
      }

      .button-group-thing {
        @apply(--layout-horizontal);
        @apply(--layout-flex);
        display: block;
        padding-top: 5px;
        padding-bottom: 10px;
      }
    </style>

    <div class="card">
      <h4>
      <paper-input label="Enter the title of your recipe!"></paper-input>
      </h4>
      <br />

      <p><h4>What meal type is this?</h4></p>
      <div class="button-group-thing">
         <paper-button toggles raised>Breakfast</paper-button>
         <paper-button toggles raised>Lunch</paper-button>
         <paper-button toggles raised>Dinner</paper-button>
         <paper-button toggles raised>Snack</paper-button>
         <paper-button toggles raised>Dessert</paper-button>
      </div>

      <p><h4>What cuisine type is this?</h4></p>
      <div class="button-group-thing">
         <paper-button toggles raised>American</paper-button>
         <paper-button toggles raised>Chinese</paper-button>
         <paper-button toggles raised>Caribbean</paper-button>
         <paper-button toggles raised>French</paper-button>
         <paper-button toggles raised>German</paper-button>
         <paper-button toggles raised>Greek</paper-button>
         <paper-button toggles raised>Indian</paper-button>
         <paper-button toggles raised>Italian</paper-button>
         <paper-button toggles raised>Japanese</paper-button>
         <paper-button toggles raised>Korean</paper-button>
         <paper-button toggles raised>Mexican</paper-button>
         <paper-button toggles raised>Mediterranean</paper-button>
         <paper-button toggles raised>Thai</paper-button>
         <paper-button toggles raised>Vietnamese</paper-button>
      </div>
      <br />
      <paper-button toggles raised style="background-color: #484e6e;width: 200px;">
        Next Section
      </paper-button>
      </div><!-- card -->
  </template>

  <script>
    Polymer({
      is: 'my-submit',
      listeners: {'tap': 'goStepTwo'},

      goStepTwo: function() {
        console.log("hai mom");
      }
    });
  </script>
</dom-module>
